.btn {
  display: inline-flex;
  min-width: 220px;
  justify-content: center;
  padding: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    //background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
