.hero {
  background: #547aaa url("../img/hero1.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 80px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding-bottom: 85px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-bottom: 32px;
  }
}

.hero__wrapper {
  position: relative;
  padding-top: 80px;

  @media (max-width: 1199px) {
    text-align: center;
    padding-top: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 68px;
  }
}

.hero__text-conteiner h1 {
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  padding-bottom: 23px;
  position: relative;
  z-index: 10;

  @media (max-width: 1199px) {
    font-size: 56px;
    line-height: 56px;
    padding-bottom: 13px;
  }

  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.hero__text-conteiner p {
  font-size: 17px;
  line-height: 24px;
  color: $color-default-white;
  padding-bottom: 38px;
  max-width: 460px;

  @media (max-width: 1199px) {
    margin: 0 auto;
    padding-bottom: 29px;
  }

  @media screen and (max-width: 767px) {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 21px;
  }
}

.hero__text-wrapper .btn {
  margin-bottom: 151px;

  @media (max-width: 1199px) {
    margin-bottom: 50px;
  }
}

.hero__details {
  @media (max-width: 1199px) {
    @include visually-hidden();
  }
}

.hero__details ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hero__details li {
  display: flex;
  font-size: 12px;
  line-height: 1;
  color: $color-default-white;
  padding: 15px 19px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.hero__details svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: $color-default-white;
  margin-right: 8px;
}

.hero__video-wrapper {
  @media (min-width: 1200px) {
    position: absolute;
    background: $color-default-black url("../img/video.webp") no-repeat;
    background-size: contain;
    width: 482px;
    height: 317px;
    bottom: 101px;
    right: 0;
  }

  @media (min-width: $vp-768) and (max-width: 1199px) {
    position: relative;
    margin: 0 auto;
    width: 442px;
    height: 300px;
    background: $color-default-black url("../img/video-tablet.webp") no-repeat;
  }

  @media screen and (max-width: 767px) {
    @include visually-hidden();
  }
}

.hero__video {
  width: 100%;
  height: 100%;

  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.hero__video iframe {
  width: 100%;
  height: 100%;
}

.hero__video-button {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background: transparent url("../img/sprite/play.svg") no-repeat;
  border: none;
  cursor: pointer;

  &:disabled {
    background: transparent url("../img/sprite/play4.svg") no-repeat;
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover {
    background: transparent url("../img/sprite/play2.svg") no-repeat;
  }

  &:active {
    background: transparent url("../img/sprite/play3.svg") no-repeat;
  }
}

.hero__image-wrapper {
  @media (min-width: 1200px) {
    position: absolute;
    width: 410px;
    height: 459px;
    bottom: 60px;
    right: 0;
  }

  @media (min-width: $vp-768) and (max-width: 1199px) {
    position: relative;
    margin: 0 auto;
    width: 442px;
    height: 365px;
    bottom: 17px;
  }

  @media screen and (max-width: 767px) {
    @include visually-hidden();
  }
}

.hero__image-wrapper img {
  @media (min-width: $vp-768) and (max-width: 1199px) {
    width: 442px;
    height: 365px;
  }
}

.hero__audio-wrapper {
  @media (min-width: 1200px) {
    position: absolute;
    width: 340px;
    height: 220px;
    bottom: 200px;
    right: 0;
  }

  @media (min-width: $vp-768) and (max-width: 1199px) {
    position: relative;
    margin: 0 auto;
    top: 20px;
  }

  @media screen and (max-width: 767px) {
    @include visually-hidden();
  }
}

.hero__slider-wrapper .swiper {
  @media (max-width: 1199px) {
    padding-bottom: 68px;
  }

  @media (max-width: 767px) {
    padding-bottom: 69px;
  }
}

.hero__slider-wrapper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;

  @media screen and (max-width: 767px) {
    width: 8px;
    height: 8px;
  }
}

.hero__slider-wrapper .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}

.hero__slider-wrapper .swiper-pagination {
  text-align: right;
  bottom: 12px;
  left: auto;
  right: -7px;

  @media (max-width: 1199px) {
    text-align: center;
    bottom: 0;
    left: 0;
  }
}
