.navigation {
  order: 5;
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  width: 100%;
  column-gap: 10px;
  justify-content: space-between;
  padding-top: 40px;

  &--closed,
  &--opened {
    @media (max-width: 1199px) {
      flex-wrap: nowrap;
    }
  }

  &--opened {
    @media (max-width: 1199px) {
      position: fixed;
      align-items: center;
      width: 100%;
      top: 0;
      right: 0;
      background-color: $color-default-white;
      padding: 0 45px;
      z-index: 10;
    }

    @media screen and (max-width: 767px) {
      padding: 0 15px;
    }
  }

  &--closed .navigation__toggle {
    background-image: url("../img/sprite.svg#menu");
    fill: $color-default-white;
    padding-left: 0;
    cursor: pointer;
  }

  &--opened + span {
    @media screen and (max-width: 1199px) {
      display: block;
      height: 74px;
    }

    @media screen and (max-width: 767px) {
      height: 72px;
    }
  }

  &--opened img {
    @media (max-width: 1199px) {
      display: none;
    }
  }

  &--opened .navigation__logo {
    @media (max-width: 1199px) {
      display: block;
      width: 144px;
      height: 44px;
      background-image: url("../img/logo-footer-tablet.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 144px 44px;
    }

    @media screen and (max-width: 767px) {
      width: 112px;
      height: 34px;
      background-size: 112px 34px;
    }
  }

  &--opened .navigation__toggle {
    background-image: url("../img/sprite.svg#cross");
    background-size: 22px 22px;
    fill: $color-default-black;
    padding-left: 0;
    cursor: pointer;
  }

  &--opened ul {
    @media (max-width: 1199px) {
      position: absolute;
      flex-direction: column;
      top: 74px;
      right: 0;
      background-color: $color-default-white;
      width: 100%;
      height: 100%;
      z-index: 10;
      padding: 48px 45px 66px 45px;
      overflow-y: auto;
    }

    @media screen and (max-width: 767px) {
      top: 72px;
      padding: 23px 15px 46px 15px;
    }
  }

  &--opened li {
    @media (max-width: 1199px) {
      //display: block;
      //width: 100%;
      //height: max-content;
    }
  }

  &--opened a {
    @media (max-width: 1199px) {
      color: $color-default-black;
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &--opened .navigation__phone {
    @media screen and (max-width: 1199px) {
      letter-spacing: 0%;
    }
  }

  &--closed ul {
    @media (max-width: 1199px) {
      @include visually-hidden();
    }
  }

  &--nojs .navigation__toggle {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1359px;
    padding-top: 30px;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
    max-width: 100%;
  }

  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding-top: 15px;
  }
}

.navigation__toggle {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: transparent;
  background-position: center;
  border: none;

  &:active {
    background-color: #f0ebff;
  }

  @media (min-width: 1200px) {
    @include visually-hidden();
  }

  @media screen and (max-width: 767px) {
    margin-top: -6px;
  }
}

.navigation__link {
  font-size: 16px;
  line-height: 1;
  color: $color-default-white;
  padding: 3px 5px;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  &:active {
    outline: none;
    border: none;
  }

  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}

.navigation__phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: $color-default-white;
  padding-top: 2px;

  &:hover {
    color: #1c3374;
  }

  &:focus {
    outline: 1px solid $color-default-white;
    color: #1c3374;
  }

  &:active {
    outline: none;
    border: none;
    color: $color-neon-blue;
  }

  @media (max-width: 1199px) {
    font-size: 16px;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    padding-top: 0;
    margin-top: -1px;
  }
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 15px;
  justify-content: center;
}

.navigation--opened ul {
  @media screen and (max-width: 1199px) {
    row-gap: 20px;
  }

  @media screen and (max-width: 767px) {
    row-gap: 14px;
  }
}

.navigation__phone-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  min-width: 142px;

  @media screen and (max-width: 767px) {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.navigation__logo {
  display: block;
  min-width: 205px;
  height: 62px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: 1199px) {
    min-width: 144px;
    height: 44px;
    margin-left: 113px;
  }

  @media screen and (max-width: 767px) {
    min-width: 112px;
    height: 34px;
    margin-left: auto;
  }
}
